.logo1 >a > img{
    width: 100px;
    padding: 13px;
}
nav.menuchinh{
    background-color: rgb(0, 0, 0);
    display:flex;
    justify-content:center;
}

ul.menucha{
    list-style-type: none;
    display: flex;
    padding: 0;
    margin: 0;
}
ul.menucha > li{
    padding: 20px;
    max-width: 500px;
}
ul.menucha > li > a{
    text-decoration: none;
    color:rgb(170, 170, 170);
    display: block;
    padding: 20px;
    transition: 0.3s;
}
ul.menucha > li > a:hover{
    color: white;
}


ul.menu1{
    list-style-type: none;
    padding: 0;
    margin: 0;
    background-color: rgb(0, 0, 0);
    z-index: 99 ;
}
ul.menu1 > li > a{
    text-decoration: none;
    color:rgb(170, 170, 170);
    font-size: 15px;
    transition: 0.3s;
}
ul.menu1 > li{
    padding: 20px;
    max-width: 500px;
    width: 120px;
}
ul.menu1 > li > a:hover{
    color: white;
}

.sub1{
    display: none;
}
.sub:hover .sub1{
    display: block;
    position: absolute;

}
.iconmenu {
    display: flex;
    list-style-type: none;
    padding-top: 20px;
}
.iconmenu li{
    max-width: 30px;
}
.iconmenu li > a{
    color: white;

}
.iconmenu li > a > i{
    width: 100%;
    padding: 20px;
    color: rgb(170, 170, 170);
    transition: 0.3s;
}
.iconmenu li > a > i:hover{
    color: white;
}
.nav_bars{
    color: white;
    font-size: 40px;
    display: none;
}
.overley{
    position: fixed;
    top:0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: black;
    opacity: 0.5;
    z-index: 99;
    display: none;
    animation: mobile linear 0.4s;
}
.nav_mobile{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    width: 320px;
    height: 575px;
    max-width: 100%;
    background-color: rgb(0, 0, 0);
    z-index: 99;
    transform: translateX(-100%);
    transition: transform linear 0.4s;
    border-radius: 10px;
}
.nav_logo{
    position: absolute;
    top:20px;
    right: 120px;
}
.nav_mobile-list{
    margin-top: 120px;
}
.nav_mobile-list > li > a{
    color: rgb(187, 183, 183);
    list-style-type: none;
}
.nav_mobile-list > li > a:hover{
    color: rgb(255, 255, 255);
}
.nav_mobile-link{
    text-decoration: none;
    color: black;
    display: block;
    padding: 20px 0;
    font-size: 20px;
}
.nav_close{
    font-size: 35px;
    color: rgb(187, 183, 183);
    position: absolute;
    right: 20px;
    top: 10px;
}
.nav_close:hover{
    color: rgb(255, 255, 255);
}
.nav_input:checked ~ .overley{
    display: block;
}
.nav_input{
    display: none;
}
.nav_input:checked ~ .nav_mobile{
    transform: translateX(0%);
}

@keyframes mobile{
     from{
         opacity: 0;
     }
     to{
         opacity: 0.5;
     }
}



.poster_mobile{
    display: none;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.gallery-display-area{
    overflow: hidden;
    height: 690px;
    width: 1380px;
    margin: 0 auto;
}

.gallery-wrap{
    width: 500%;
    animation: slideShow 15s infinite;
}

.image{
    float: left;
    height: 690px;
    width: 1380px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes slideShow{
    20%{
        margin-left: 0;        
    }
    30%{
        margin-left: -100%;        
    }
    40%{
        margin-left: -100%;        
    }
    50%{
        margin-left: -200%;        
    }
    60%{
        margin-left: -200%;        
    }
    70%{
        margin-left: -300%;        
    }
    80%{
        margin-left: -300%;        
    }
    90%{
        margin-left: -400%;        
    }
    100%{
        margin-left: -400%;        
    }
}

@font-face{
    src: url(font/HelveticaNeue.ttf.otf);
    font-family: 'fontdep1';
}
body{
    margin: 0px;
    padding-top: 0px;
    background-color:white;
    font-family:'fontdep1'; 
}

.text-center1 {
    padding: 0px;
    margin: 0px;
    text-align: center;
    
}
.text-center1 > img{
    width: 1380px;
    height: 690px;
}
div.sp{
    display: flex;
    flex-wrap: wrap;
    color: rgb(31, 31, 31);
    justify-content: space-evenly;
    padding: 50px;
}
div.sp2{
    width: 35%;
    background-color: rgb(255, 255, 255);
    padding: 10px;
    text-align: center;
    position: relative;

}


.sp2 > div > p{
    font-size: 15px;
}


div.sp2 > div >a > img{
    width:60%;
    transition:transform 0.7s;
    position: relative;
}
div.sp2 img:hover{
    transform: scale(1.1);
    opacity: 0.8;
}
 div.sp2 >div{
     overflow: hidden;
 }
#tensp{
    font-size: 25px;
    margin: 0px;
    color: rgb(65, 65, 65);
}
.sp2 > div > p {
    color: rgb(100, 100, 100);
}
.sp3{
    display: flex;
    padding: 50px;
}

.sp4{
    display: flex;
    padding-bottom: 100px;
}
.menu4{
    width: 35%;
    padding: 10px;
}
.text > p{
    color: rgb(100, 100, 100);
    font-size: 14px;
    margin: 12px;
}
.menu3 {
    display: flex;
    justify-content:space-evenly;
    padding-top: 100px;
    text-align: center;
}

.anh > a > img{
    width: 60%;
    transition:transform 0.7s;
}
.anh > a > img:hover{
    transform: scale(1.1);
    opacity: 0.8;
}
.text > h4{
    font-size: 20px;
    text-align: center;
    color: rgb(65, 65, 65);
}
.text >h4:hover{
    color: rgb(151, 24, 1);
    text-decoration: underline;
}


#gototop{
    width:60px;
    height: 60px;
    right: 25px;
    bottom: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    background-color:rgb(20, 20, 20);
    border-radius: 50px;
    z-index: 5;
    transition: 0.3s;
 }
 #gototop:hover{
    opacity: 0.8;
 }
 #gototop > a > i{
     text-align: center;
     color: rgb(255, 255, 255);
     padding: 15px;
 }

.text-center {
    display: flex;
    padding-top: 100px;
    padding-bottom: 0px;
    justify-content:space-evenly;
    
    
}
.text-center img{
    width: 450px;
    height: 580px;
    transition: 0.3s;
}
.text-center img:hover{
    opacity: 0.7;
}
/*.detail{
    position: absolute;
    background-color: rgb(0, 0, 0,0.5);
    color: white;
    font-size: 20px;
    top :0px;
    bottom: 5px;
    width: 100%;
    opacity: 0;
}
.banner{
    position: relative;
    transition: opacity 1s ;
}
.banner:hover .detail{
    opacity: 1;
}
.detail > p{
    text-align: center;
    padding: 8px;
}
.input_detail{
    padding-top: 20px;
    text-align: center;
}
.input_detail a input{
    width: 35%;
    background: black;
    color: rgb(211, 211, 211);
    padding: 15px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 18px;
    transition: 0.4s;
}
.input_detail > a > input:hover{
    color: rgb(255, 255, 255);
}*/










.gif{
    text-align: center;
}


.sphot{
    text-align: center;
    padding-top: 50px;

}
.sphot a{
    text-decoration: none;
    color: rgb(75, 75, 75);
    font-size: 35px;
    transition: 0.3s;
}
.sphot a:hover{
    color: rgb(168, 12, 12);
    text-decoration: underline;
}
.sphot1{
    text-align: center;
    color: rgb(90, 90, 90);
    font-size:20px;
}



div.sp{
    display: flex;
    flex-wrap: wrap;
    color: rgb(31, 31, 31);
    text-align: center;
    padding: 50px;
}
div.sp1{
    width: 35%;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin: auto;
    text-align: center;
    position: relative;

}
#tensp{
    transition: 0.3s;
}
#tensp:hover{
    color: rgb(168, 12, 12);
    text-decoration: underline;;
}
#tensp3{
    transition: 0.3s;
}
#tensp3:hover{
    color: rgb(168, 12, 12);
    text-decoration: underline;;
}
#tensp3{
    margin: 15px;
}
.image1 {
    display: flex;
    padding-top: 100px;
    padding-bottom: 100px;
    justify-content:space-evenly;
}
.image1 img{
    width: 350px;
    height: 350px;
}


.note{
    display:flex;
    justify-content:space-around;
    padding-bottom: 30px;
    padding-top: 20px;
}
.note1 > p{
    font-size: 17px;
    color: rgb(151, 0, 0);
}
.note1 > a {
    text-decoration: none;
    color: rgb(94, 94, 94);
    font-size: 16px;
    transition: 0.3s;
}
.note1 > a:hover{
    color: rgb(0, 0, 0);
    text-decoration:underline ;
}




.gioithieu{
    background-color: rgb(0, 0, 0);
    margin: 0px;
    padding: 0px;
    padding-bottom: 30px;
}
.logogt1{
    text-align: center;
    padding-bottom: 10px;
}

.logogt > img{
    width: 300px;
    height: 60px;
    padding-top: 30px;
}

.textgt >p {
    color: rgb(155, 155, 155);
    font-size: 16px;
}

ul.hotro1{
    list-style-type: none;
    padding: 0px 0px 0px 0px;
    display: flex;
    justify-content:space-around;
}
ul.hotro1 >li{
    max-width: 500px;
    color: rgb(155, 155, 155);
    
}
.ul.hotro1 > li > iframe{
    margin: 0px;
    padding-top: 50x;
}
.hotro1 > li > p > a > i{
    color: rgb(155, 155, 155);
}
.hotro1 > li > p{
    font-size: 17px;
}
.hotro1 > li > h3{
    font-size: 19px;
    color: rgb(194, 194, 194);
}
.hotro3{
    padding-bottom: 30px;
    margin: 0px;
}
 #hotro2{
    color: rgb(231, 231, 231);
    font-size: 20px;
    text-decoration: none;
    
 }
 #gachchan{
     border: 0. solid rgb(88, 88, 88);
     opacity: 0.5;
 }
 .icongt{
     display: flex;
     justify-content: space-evenly;
     
 }
 .icongt > div > img {
    vertical-align:middle;
 }
 .i2 > img{
    width: 130px;
    height: 45px;    
 }
.last{
    text-align: center;
    background-color: rgb(53, 53, 53);
    color: rgb(138, 138, 138);
}
.last > p {
    font-size: 14px;
    margin: 0px;
    padding: 15px;
}
/*MOBILE*/
@media screen and (max-width: 500px){
    body{
        padding: 0px;
        margin: 0px;
    }
    
    nav.menuchinh{
       display: none;
    }
    .nav_mobile{
        width: 265px;
        height: 480px;
    }
    .nav_bars {
        display: block;
        display: flex;
        justify-content: left;
        background-color: black;
        padding: 10px;
    }
    .container{
        display: none;
    }
    .poster_mobile{
        display: block;
        padding-bottom: 50px;
    }
    .poster_mobile > img{
        width: 100%;
    }
    div.sp{
        flex-direction: column;
        padding: 0px 50px 0px 50px;
    }
    div.sp2{
        width: 100%;
        padding: 0px;
    }
    .sp2 > div > p{
        font-size: 12px;
    }
    #gototop{
        height:40px;
        width: 40px;
        right: 10px;
        bottom: 10px;
        position: fixed;
        font-size: 15px;
    }
    div.sp3{
        flex-direction: column;
        padding: 0px 50px 0px 50px;
    }
    div.sp4{
        flex-direction: column;
        padding-bottom: 0px;
    }
    .sphot{
        padding-top: 0px;
    }
    .sphot > a > h1{
        font-size: 40px;
        margin: 20px;
    }
    .sphot1{
        font-size: 11px;
        width: 90%;
        margin: auto;
    }
    div.menu3{
        flex-direction: column;
        padding-top: 50px;
    }
    div.menu4{
       width: 100%;
       padding: 0px;
    }
    .text > p{
        font-size: 12px;
    }
    #tensp3{
        font-size: 18px;
    }
    .text-center{
        display: none;
    }
    .image1{
        display: none;
    }
    .gif > video{
         width: 100%;
         padding: 50px 0px 50px 0px;
     }
     /*gthieu*/
    .logogt > img{
        width: 230px;
        height: 50px;
    }
    .textgt >p{
        font-size: 11px;
    }
    div.note{
        width: 100%;
        padding: 10px 0px 10px 0px;
    }
    div.note1{
        padding: 7px;
    }
    div.note1 > p{
        font-size: 6px;
    }
    div.note1 > a{
        font-size: 6px;
    }
    div.gioithieu{
        padding: 0px 10px 1px 10px;
    }
    ul.hotro1{
        flex-direction: column;
    }
    ul.hotro1 > li > iframe{
        display: none;
    }
    ul.hotro1 > li > h3{
        font-size: 13px;
    }
    ul.hotro1 > li > p{
        font-size: 10px;
    }
    div.logogt1{
        padding: 0px 0px 0px 0px;
    }
    div.icongt{
        display: none;
    }
    .last > p{
        padding: 7px;
        font-size: 7px;
    }
}
